{% extends "base.html" %}

{% block title %}About Me{% endblock %}

{% block content %}
        <div class="p-5 mb-4 bg-info text-dark rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">About Me</h1>
                <p class="col-md-8 fs-5">Welcome to my about page! I'm a passionate developer and lifelong learner working to build meaningful projects and improve my skills in web development. I am a veteran, who just celebrated my 36th birthday.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">My background</h5>
                        <p class="card-text">I enjoy solving problems, building web apps, and learning new technologies. Outside of coding I enjoy reading and spending time with family.</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
